# Byte-compiled / optimized / DLL files
__pycache__
__pycache__/
__pycache__/*

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Environments
venv
venv/
venv/*

# Pyre type checker
.pyre/

# .idea
.idea
.idea/
.idea/*

# vscode
.vscode
.vscode/
.vscode/*

# test
test_rule
test
test/
test/*

# readme old version
/README1.md
README1.md